<div id="tipo" [ngClass]="{
    'c-licei': liceo,
    'c-tecnici': tecnico,
    'c-professionali': professionale,
    'c-ist-prof': istProf,
    'c-quadriennali': quadriennali
  }">
    <div id="titolo" [ngClass]="{
        'licei': liceo,
        'tecnici': tecnico,
        'professionali': professionale,
        'ist-prof': istProf,
        'quadriennali': quadriennali,
      }">
      <h1>{{tipo.toUpperCase()}}</h1>
      <p>{{str}}</p>
    </div>
    <div>
        @for(s of scuole; track scuole){
            <app-scuola [scuola]="s.attributes"></app-scuola>
        }
    </div>
</div>